<!-- Start Banner 
    ============================================= -->
<div id="adminlogin" class="banner-area responsive-auto-height text-small">
    <div class="item shadow dark text-light bg-fixed" style="background-image: url(static/img/banner/8.jpg)">
        <div class="box-table">
            <div class="box-cell">
                <div class="container">
                    <div class="row">
                        <div class="content double-items">

                            <div class="col-md-7 col-sm-6">
                                
                            </div>

                            <!-- Start Appoinment Form -->
                            <div class="col-md-5 col-sm-6 appoinment">
                                <div class="appoinment-box">
                                    <div class="heading">
                                        <h2>Admin Login</h2>
                                    </div>
                                    <form action="#">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input class="form-control" id="username" name="username"
                                                        placeholder="Username" type="text">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input class="form-control" id="password" name="password"
                                                        placeholder="Password" type="password">
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <button type="submit" name="submit" id="submit">
                                                    Login <i class="fa fa-paper-plane"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- End Appoinment Form -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Banner -->