{% load staticfiles %}
<!-- Start Departments
    ============================================= -->
<div id="departments" class="department-tabs default-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-3 tab-navs">
                <div class="heading">
                    <h4>Our Departments</h4>
                </div>
                <!-- Tab Nav -->
                <ul class="nav nav-pills">
                    <li class="active">
                        <a data-toggle="tab" href="#tab1" aria-expanded="true">
                            Medicine and Health
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tab2" aria-expanded="false">
                            Dental Care and Surgery
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tab3" aria-expanded="false">
                            Eye Treatment
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tab4" aria-expanded="false">
                            Children Care
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tab5" aria-expanded="false">
                            Cardiomegaly
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tab6" aria-expanded="false">
                            Traumatology
                        </a>
                    </li>
                </ul>
                <!-- End Tab Nav -->
            </div>
            <div class="col-md-9 tab-contents">
                <div class="row">
                    <!-- Start Tab Content -->
                    <div class="tab-content tab-content-info">
                        <!-- Single Item -->
                        <div id="tab1" class="tab-pane fade active in">

                            <!-- Start Department Info -->
                            <div class="col-md-6">
                                <div class="info title">
                                    <div class="thumb">
                                        <img alt="Thumb" src="{% static 'img/departments/1.jpg'%}">
                                    </div>
                                    <h3>Medicine and Health</h3>
                                    <p>
                                        We deal maintenance or improvement of health via the prevention, diagnosis, and treatment of disease, illness, injury,
                                        and other physical and mental impairments in people. Health care is delivered by health professionals in allied health
                                        fields.
                                    </p>
                                    <p>
                                        Providing health care services means "the timely use of personal health services to achieve the best possible health
                                        outcomes
                                    </p>
                                    
                                </div>
                            </div>
                            <!-- End Department Info -->

                            <!-- Start Opening Hours -->
                            <div class="col-md-6 opening-hours">
                                <div class="opening-info">
                                    <h4>Opening Hours</h4>
                                    <ul>
                                        <li>Sunday <div class="pull-right"> 6.00 am - 10.00 pm </div>
                                        </li>
                                        <li>Monday <div class="pull-right"> 8.00 am - 4.00 pm </div>
                                        </li>
                                        <li>Tuesday <div class="pull-right"> 9.00 am - 6.00 pm </div>
                                        </li>
                                        <li>Wednesday <div class="pull-right"> 10.00 am - 7.00 pm </div>
                                        </li>
                                        <li>Thursday <div class="pull-right"> 11.00 am - 9.00 pm </div>
                                        </li>
                                        <li>Friday <div class="pull-right"> 12.00 am - 12.00 pm </div>
                                        </li>
                                        <li>Saturday <div class="pull-right closed"> Closed </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End Opening Hours -->

                        </div>
                        <!-- End Single Item -->

                        <!-- Single Item -->
                        <div id="tab2" class="tab-pane fade">
                            <!-- Start Department Info -->
                            <div class="col-md-6">
                                <div class="info title">
                                    <div class="thumb">
                                        <img src="{%static 'img/departments/2.jpg'%}" alt="Thumb">
                                    </div>
                                    <h3>Dental Care and Surgery</h3>
                                    <p>
                                        A general dentist is your primary care dental provider. This dentist diagnoses, treats, and manages your overall oral
                                        health care needs, including gum care, root canals, fillings, crowns, veneers, bridges, and preventive education.
                                    </p>
                                    <p>
                                        Common treatments involve the restoration of teeth, extraction or surgical removal of teeth, scaling and root planing
                                        and endodontic root canal treatment.
                                    </p>
                                </div>
                            </div>
                            <!-- End Department Info -->

                            <!-- Start Opening Hours -->
                            <div class="col-md-6 opening-hours">
                                <div class="opening-info">
                                    <h4>Opening Hours</h4>
                                    <ul>
                                        <li>Sunday <div class="pull-right"> 6.00 am - 10.00 pm </div>
                                        </li>
                                        <li>Monday <div class="pull-right"> 8.00 am - 4.00 pm </div>
                                        </li>
                                        <li>Tuesday <div class="pull-right"> 9.00 am - 6.00 pm </div>
                                        </li>
                                        <li>Wednesday <div class="pull-right"> 10.00 am - 7.00 pm </div>
                                        </li>
                                        <li>Thursday <div class="pull-right"> 11.00 am - 9.00 pm </div>
                                        </li>
                                        <li>Friday <div class="pull-right"> 12.00 am - 12.00 pm </div>
                                        </li>
                                        <li>Saturday <div class="pull-right closed"> Closed </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End Opening Hours -->
                        </div>
                        <!-- End Single Item -->

                        <!-- Single Item -->
                        <div id="tab3" class="tab-pane fade">
                            <!-- Start Department Info -->
                            <div class="col-md-6">
                                <div class="info title">
                                    <div class="thumb">
                                        <img src="{% static 'img/departments/3.jpg'%}" alt="Thumb">
                                    </div>
                                    <h3>Eye Treatment</h3>
                                    <p>
                                        Hyperosmotic drops or ointment can be used to treat corneal swelling, but additional treatment by a physician is usually
                                        necessary. Uveitis: Uveitis is an inflammation of the eye structures in the uveal tract (the iris and other structures
                                        within the eye to which the iris attaches).
                                    </p>
                                    <p>
                                        Your eyes, your best tool, take care of them
                                    </p>
                                </div>
                            </div>
                            <!-- End Department Info -->

                            <!-- Start Opening Hours -->
                            <div class="col-md-6 opening-hours">
                                <div class="opening-info">
                                    <h4>Opening Hours</h4>
                                    <ul>
                                        <li>Sunday <div class="pull-right"> 6.00 am - 10.00 pm </div>
                                        </li>
                                        <li>Monday <div class="pull-right"> 8.00 am - 4.00 pm </div>
                                        </li>
                                        <li>Tuesday <div class="pull-right"> 9.00 am - 6.00 pm </div>
                                        </li>
                                        <li>Wednesday <div class="pull-right"> 10.00 am - 7.00 pm </div>
                                        </li>
                                        <li>Thursday <div class="pull-right"> 11.00 am - 9.00 pm </div>
                                        </li>
                                        <li>Friday <div class="pull-right"> 12.00 am - 12.00 pm </div>
                                        </li>
                                        <li>Saturday <div class="pull-right closed"> Closed </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End Opening Hours -->
                        </div>
                        <!-- End Single Item -->

                        <!-- Single Item -->
                        <div id="tab4" class="tab-pane fade">
                            <!-- Start Department Info -->
                            <div class="col-md-6">
                                <div class="info title">
                                    <div class="thumb">
                                        <img src="{% static 'img/departments/4.jpg'%}" alt="Thumb">
                                    </div>
                                    <h3>Children Care</h3>
                                    <p>
                                        Child care, otherwise known as day care, is the care and supervision of a child or multiple children at a time, whose
                                        ages range from six weeks to thirteen years. Child care is the action or skill of looking after children by a day-care
                                        center, nannies, babysitter, teachers or other providers
                                    </p>
                                    <p>
                                        Excellent babysitter you can count on.
                                    </p>
                                </div>
                            </div>
                            <!-- End Department Info -->

                            <!-- Start Opening Hours -->
                            <div class="col-md-6 opening-hours">
                                <div class="opening-info">
                                    <h4>Opening Hours</h4>
                                    <ul>
                                        <li>Sunday <div class="pull-right"> 6.00 am - 10.00 pm </div>
                                        </li>
                                        <li>Monday <div class="pull-right"> 8.00 am - 4.00 pm </div>
                                        </li>
                                        <li>Tuesday <div class="pull-right"> 9.00 am - 6.00 pm </div>
                                        </li>
                                        <li>Wednesday <div class="pull-right"> 10.00 am - 7.00 pm </div>
                                        </li>
                                        <li>Thursday <div class="pull-right"> 11.00 am - 9.00 pm </div>
                                        </li>
                                        <li>Friday <div class="pull-right"> 12.00 am - 12.00 pm </div>
                                        </li>
                                        <li>Saturday <div class="pull-right closed"> Closed </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End Opening Hours -->
                        </div>
                        <!-- End Single Item -->

                        <!-- Single Item -->
                        <div id="tab5" class="tab-pane fade">
                            <!-- Start Department Info -->
                            <div class="col-md-6">
                                <div class="info title">
                                    <div class="thumb">
                                        <img src="{%static 'img/departments/5.jpg'%}" alt="Thumb">
                                    </div>
                                    <h3>Cardiomegaly</h3>
                                    <p>
                                        Cardiomegaly is a medical condition in which the heart is enlarged. It is more commonly referred to as an enlarged
                                        heart. The causes of cardiomegaly may vary. Many times this condition results from high blood pressure (hypertension) or
                                        coronary artery disease.
                                    </p>
                                    <p>
                                        Minimize red meat to keep a healthy Heart beat
                                    </p>
                                </div>
                            </div>
                            <!-- End Department Info -->

                            <!-- Start Opening Hours -->
                            <div class="col-md-6 opening-hours">
                                <div class="opening-info">
                                    <h4>Opening Hours</h4>
                                    <ul>
                                        <li>Sunday <div class="pull-right"> 6.00 am - 10.00 pm </div>
                                        </li>
                                        <li>Monday <div class="pull-right"> 8.00 am - 4.00 pm </div>
                                        </li>
                                        <li>Tuesday <div class="pull-right"> 9.00 am - 6.00 pm </div>
                                        </li>
                                        <li>Wednesday <div class="pull-right"> 10.00 am - 7.00 pm </div>
                                        </li>
                                        <li>Thursday <div class="pull-right"> 11.00 am - 9.00 pm </div>
                                        </li>
                                        <li>Friday <div class="pull-right"> 12.00 am - 12.00 pm </div>
                                        </li>
                                        <li>Saturday <div class="pull-right closed"> Closed </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End Opening Hours -->
                        </div>
                        <!-- End Single Item -->

                        <!-- Single Item -->
                        <div id="tab6" class="tab-pane fade">
                            <!-- Start Department Info -->
                            <div class="col-md-6">
                                <div class="info title">
                                    <div class="thumb">
                                        <img src="{%static 'img/departments/6.jpg'%}" alt="Thumb">
                                    </div>
                                    <h3>Traumatology</h3>
                                    <p>
                                        We study of wounds and injuries caused by accidents or violence to a person, and the surgical therapy and repair of the
                                        damage.
                                    </p>
                                    <p>
                                        We study of wounds and injuries caused by accidents or violence to a person, and the surgical therapy and repair of the
                                        damage.
                                    </p>
                                </div>
                            </div>
                            <!-- End Department Info -->

                            <!-- Start Opening Hours -->
                            <div class="col-md-6 opening-hours">
                                <div class="opening-info">
                                    <h4>Opening Hours</h4>
                                    <ul>
                                        <li>Sunday <div class="pull-right"> 6.00 am - 10.00 pm </div>
                                        </li>
                                        <li>Monday <div class="pull-right"> 8.00 am - 4.00 pm </div>
                                        </li>
                                        <li>Tuesday <div class="pull-right"> 9.00 am - 6.00 pm </div>
                                        </li>
                                        <li>Wednesday <div class="pull-right"> 10.00 am - 7.00 pm </div>
                                        </li>
                                        <li>Thursday <div class="pull-right"> 11.00 am - 9.00 pm </div>
                                        </li>
                                        <li>Friday <div class="pull-right"> 12.00 am - 12.00 pm </div>
                                        </li>
                                        <li>Saturday <div class="pull-right closed"> Closed </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End Opening Hours -->
                        </div>
                        <!-- End Single Item -->

                    </div>
                    <!-- End Tab Content -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Departments -->