<!-- Start Services
    ============================================= -->
<div class="services-area inc-icon less-info bg-gray default-padding bottom-less">
    <div class="container">
        <div class="row">
            <div class="services-items text-center">
                <!-- Single Item -->
                <div class="col-md-3 col-sm-6 equal-height">
                    <div class="item">
                        <a href="#">
                            <i class="flaticon-doctor-1"></i>
                            <h4>Advanced Care</h4>
                        </a>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-md-3 col-sm-6 equal-height">
                    <div class="item">
                        <a href="#">
                            <i class="flaticon-medicine"></i>
                            <h4>Respite Care</h4>
                        </a>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-md-3 col-sm-6 equal-height">
                    <div class="item">
                        <a href="#">
                            <i class="flaticon-checkup"></i>
                            <h4>Daily Care</h4>
                        </a>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-md-3 col-sm-6 equal-height">
                    <div class="item">
                        <a href="#">
                            <i class="flaticon-neurology"></i>
                            <h4>Neuorology Care</h4>
                        </a>
                    </div>
                </div>
                <!-- End Single Item -->
            </div>
        </div>
    </div>
</div>
<!-- End Services -->