<!-- Start Testimonials 
    ============================================= -->
    {% load staticfiles %}
<div id="testimonials" class="testimonials-area carousel-shadow bg-gray default-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="site-heading text-center">
                    <h2>Patient <span>Testimonials</span></h2>
                    <p>
                        It’s kind of fun to do the impossible.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="testimonial-items testimonial-carousel owl-carousel owl-theme">
                    <!-- Single Item -->
                    <div class="item">
                        <div class="content">
                            <p>
                                I have had anxiety most of my life. Different forms of it. Ranging from social to not being able to ride in a car. And
                                sit in a show. Now my anxiety is a little obsessive compulsive disorder (OCD) and just being anxious. My doctors gave me
                                Lexapro and Xanax. They are helpful. All who have this condition, you are not alone.
                            </p>
                        </div>
                        <div class="provider">
                            <div class="thumb">
                                <img src="{% static 'img/team/6.jpg'%}" alt="Thumb">
                            </div>
                            <div class="info">
                                <h4>Angle Natasha</h4>
                                <h5>patient of <span>anxiety</span></h5>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="item">
                        <div class="content">
                            <p>
                                I had 3 porcelain dental crowns in 2 months. One left bottom rear molar had pain that lasted for 2 weeks. Next, 2 crowns
                                on upper rear molars. One of these crowns was improperly molded. It took an hour to adjust. I returned for additional
                                adjusting. The problem crown continues to be sensitive to heat and cold plus I have nerve pain after 3 weeks. I have
                                another appointment.
                            </p>
                        </div>
                        <div class="provider">
                            <div class="thumb">
                                <img src="{% static 'img/team/7.jpg'%}" alt="Thumb">
                            </div>
                            <div class="info">
                                <h4>John Abraham</h4>
                                <h5>Dental <span>patients</span></h5>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="item">
                        <div class="content">
                            <p>
                                I had a bleed on the brain back in 1996 which affected my left side, I have lost some of the use in my left hand and
                                arm, and have trouble walking. I had to learn to write right handed, as I was left handed. I have pain and burning in
                                the arm hand and leg all the time. I have been prescribed gabapentin and tramadol for the pain; it helps put does not do
                                away with it entirely
                            </p>
                        </div>
                        <div class="provider">
                            <div class="thumb">
                                <img src="{% static 'img/team/8.jpg'%}" alt="Thumb">
                            </div>
                            <div class="info">
                                <h4>Kriti Sairi</h4>
                                <h5>patient of <span>stroke</span></h5>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Testimonials -->